<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tvsolutions_ca">
<meta name="twitter:creator" content="@colincalnan">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.meta.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ page.meta.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/logo.png">
{% endif %}
